
<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>AI-teacher</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

{#    <script src="./static/js/lib-master/index.js" type="text/javascript" charset="utf-8"></script>#}

<body>

    <div id="app" >
        <div style="float: right;font-size: 30px">
            API:<el-input style="width: 100px;margin-top: 10px;margin-left: 10px" v-model="api" size="medium"></el-input>
        </div>


        <div v-if=" api === 'codex' ">
            <el-table
                :data="tableData"
                highlight-current-row
                @current-change="handleCurrentChange"
                style="width: 12rem;float: left;font-size: 20px;">
                  <el-table-column
                    prop="test"
                    label="示例"
                   >
                  </el-table-column>


         </el-table>

            <el-button style="float: right;top: 100px; right: 12px;position: fixed;width: 10%" @click="chat">我想聊天</el-button>
            <el-button style="float: right;top: 150px; right: 12px;position: fixed;width: 10%" @click="code">帮我写代码</el-button>
            <el-button style="float: right;top: 200px; right: 12px;position: fixed;width: 10%" @click="homework">帮我做题</el-button>
            <el-button style="float: right;top: 250px; right: 12px;position: fixed;width: 10%" @click="paper">帮我写文章</el-button>
            <el-button style="float: right;top: 300px; right: 12px;position: fixed;width: 10%" @click="post">我想写邮件</el-button>
            <el-button style="float: right;top: 350px; right: 12px;position: fixed;width: 10%" @click="cotTest">我想加思维链</el-button>
{#            <el-select v-model="value" placeholder="请选择" size="small" style="float: right;top: 50px; right: 5%;position: fixed;width: 10%">#}
{#                        <el-option#}
{#                          v-for="item in tipOptions"#}
{#                          :key="item.value"#}
{#                          :label="item.label"#}
{#                          :value="item.value">#}
{#                        </el-option>#}
{#            </el-select>#}


            <div id="message">
{#                 <el-avatar :size="80" src="{% static "img/scnu.jpg" %}" style="float: left;"></el-avatar>#}
            <div style="text-align: center; color: rgba(14,87,179,0.8);border-bottom-style: solid;font-size: 4em;font-weight: bolder;" v-if="this.value === ''">AI-teacher</div>
            <div style="text-align: center; color: rgba(14,87,179,0.8);border-bottom-style: solid;font-size: 4em;" v-if="this.value === '选项1' || this.value === '选项2'">AI-teacher--代码小助手</div>
            <div style="text-align: center; color: rgba(14,87,179,0.8);border-bottom-style: solid;font-size: 3em;" v-if="this.value === '选项3' || this.value === '选项4'">AI-teacher--问答小助手</div>
            <div style="border-bottom: solid;height: 50px">
                <div style="font-size: 2rem;margin-top:6px">model:
                    <el-select v-model="value" placeholder="请选择" size="small" style="width: 17%">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>
                    <div style="float: right;font-size:2rem;">
                        <el-button @click="showCot = true" >查看思维链模板</el-button>
                    </div>
                    <el-dialog
                          title="cotTemplate"
                          :visible.sync="showCot"
                          width="60%"
                          :before-close="handleClose">
                        {% verbatim %}
                        <div v-for="qa in cot">
                            <span style="color: #3a8ee6">Q: [[ qa.Q ]]</span>
                        <br/>
                            <span style="color: #dd6161">A: [[ qa.A ]]</span>
                        </div>
                        {% endverbatim %}
                      <span slot="footer" class="dialog-footer">
                        <el-button @click="showCot = false">取 消</el-button>
                        <el-button type="primary" @click="showCot = false">确 定</el-button>
                      </span>
                    </el-dialog>
                    <div style="float: right;margin-right: 10px">
                        <el-checkbox v-model="cotChecked" @change="cotCheck">
                            <div style="font-size: 2rem;">思维链</div>
                        </el-checkbox>
                    </div>

                    <div style="float: right;margin-right: 10px;font-size:2rem;">
                        <span>temperature:</span><el-input style="width: 50px;" v-model="temperature" size="medium" placeholder="0-1"></el-input>
                    </div>
                    <div style="margin-right: 5px;float: right;font-size:2rem;">
                        <div style="">
                            <span>max-token:</span><el-input style="width: 70px;" v-model="maxToken" size="medium"></el-input>
                        </div>
                    </div>


                </div>


            </div>
            <div>
                        <div id="messageBox" class="messageBox">
                            {% verbatim %}
                            <div v-if=" tip !== ''">
                                <div style="margin-top: 5px">

                                    <div class="main" >
                                        <div style="float: left">

                                        </div>
                                        <div style="border-bottom-style: solid;">
                                            <div style="margin-bottom: 5px;white-space: pre-wrap;font-size: 30px;color: #7fc7e0" >[[ tip ]]</div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div v-for="msg in chatList" >
                                <div style="margin-top: 5px">

                                    <div class="main" >
                                        <div style="float: left">

                                        </div>
                                        <div style="">
                                            <div style="margin-bottom: 5px;white-space: pre-wrap;font-size: 30px;color: gray;border-bottom-style: solid;border-bottom-color: rgba(200,200,200,0.5)" v-if=" msg[0] === 'Q' ">[[ msg ]]</div>
                                            <div style="margin-bottom: 5px;white-space: pre-wrap;font-size: 30px;color: #9b2c2c;border-bottom-style: solid;border-bottom-color: rgba(10,7,7,0.5)" v-if=" msg[0] === 'A' ">[[ msg ]]</div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            {% endverbatim %}
                        </div>

            </div>
                <el-button @click="enter" style="margin-top: 5px">发送</el-button>
                <el-button @click="clear" style="margin-top: 5px">清空</el-button>
            </div>
            <div id="uesrtext">
            <label>
                <textarea
                        placeholder="按 Ctrl + Enter 发送"
                        v-model="content"
                        style="padding: 10px;width: 100%;height: 100%;border: none;outline: none;margin: auto;"
                        v-on:keyup="addMessage"
                ></textarea>
            </label>
            </div>
        </div>
        <div>
            {#        <div v-if=" api === 'whisper' ">#}
{#            <div style="border-bottom: solid;height: 50px">#}
{#                model:#}
{#                <el-select v-model="whisper_value" placeholder="请选择" size="small">#}
{#                    <el-option#}
{#                      v-for="item in whisper_options"#}
{#                      :key="item.value"#}
{#                      :label="item.label"#}
{#                      :value="item.value">#}
{#                    </el-option>#}
{#                </el-select>#}
{##}
{#            </div>#}
{#            <div>中文：</div>#}
{#           <figure>#}
{##}
{#                <audio#}
{#                    controls#}
{#                    src="/static/img/中文新闻.wav">#}
{#                        <a href="/static/img/中文新闻.wav">#}
{#                            Download audio#}
{#                        </a>#}
{#                </audio>#}
{#               <el-button @click="whisper('中文新闻.wav')">识别</el-button>#}
{#           </figure>#}
{#             <div>英文：</div>#}
{#           <figure>#}
{##}
{#                <audio#}
{#                    controls#}
{#                    src="/static/img/What_Are_Words.wav">#}
{#                        <a href="/static/img/What_Are_Words.wav">#}
{#                            Download audio#}
{#                        </a>#}
{#                </audio>#}
{#               <el-button @click="whisper('What_Are_Words.wav')">识别</el-button>#}
{##}
{#           </figure>#}
{#             <div>无人声：</div>#}
{#           <figure>#}
{##}
{#                <audio#}
{#                    controls#}
{#                    src="/static/img/无人声.wav">#}
{#                        <a href="/static/img/无人声.wav">#}
{#                            Download audio#}
{#                        </a>#}
{#                </audio>#}
{#               <el-button @click="whisper('无人声.wav')">识别</el-button>#}
{#           </figure>#}
{##}
{##}
{#            <div style="border: solid 1px #DDD;width: 200px;height: 100px">#}
{#                <label>#}
{#                    <textarea#}
{#                            v-model="whisper_content"#}
{#                            style="padding: 10px;width: 100%;height: 100%;border: none;outline: none;margin: auto;"#}
{#                    ></textarea>#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
        </div>



    </div>

<script type="text/javascript">

    const app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data(){
            return{
                {#cpolar: 'cpolar authtoken ZjJhOTFlNTEtMDAxZi00NDdiLTlmN2MtZThhYmNmZDA0N2Iw',#}
                ip_url: 'http://www.fancyai.com.cn/test/',
                api: 'codex',
                content:'',
                cotChecked: false,
                chatList:[],
                options: [
                    {
                        value: '选项1',
                        label: 'gpt-3.5-turbo'
                    },
                    {
                        value: '选项3',
                        label: 'text-davinci-003'
                    },

                ],
                tipOptions:[
                    {
                        value: '选项1',
                        label: '我想聊天'
                    },
                    {
                        value: '选项2',
                        label: '帮我写代码'
                    },
                    {
                        value: '选项3',
                        label: '帮我做题'
                    },
                    {
                        value: '选项4',
                        label: '帮我写文章'
                    },
                    {
                        value: '选项5',
                        label: '我想写邮件'
                    },
                    {
                        value: '选项6',
                        label: '我想加思维链'
                    }
                ],
                {#whisper_options: [#}
                {#    {#}
                {#        value: '选项1',#}
                {#        label: 'tiny'#}
                {#    },#}
                {#    {#}
                {#        value: '选项2',#}
                {#        label: 'base'#}
                {#    },#}
                {#    {#}
                {#        value: '选项3',#}
                {#        label: 'small'#}
                {#    },#}
                {#    {#}
                {#        value: '选项4',#}
                {#        label: 'medium'#}
                {#    },#}
                {#    {#}
                {#        value: '选项5',#}
                {#        label: 'large-v1'#}
                {#    },#}
                {#    {#}
                {#        value: '选项6',#}
                {#        label: 'large-v2'#}
                {#    },#}
                {#],#}
                value: '选项1',
                {#whisper_value: '选项6',#}
                maxToken: 512,
                temperature: 0,
                cot: [
                        {
                            Q: "There are 15 trees in the grove. Grove workers will plant trees in the grove today. After they are done, there will be 21 trees. How many trees did the grove workers plant today?",
                            A: "There are 15 trees originally. Then there were 21 trees after some more were planted. So there must have been 21 - 15 = 6. The answer is 6."
                        },
                        {
                            Q: "If there are 3 cars in the parking lot and 2 more cars arrive, how many cars are in the parking lot?",
                            A: "There are originally 3 cars. 2 more cars arrive. 3 + 2 = 5. The answer is 5."
                        },
                        {
                            Q: "Leah had 32 chocolates and her sister had 42. If they ate 35, how many pieces do they have left in total?",
                            A: "Originally, Leah had 32 chocolates. Her sister had 42. So in total they had 32 + 42 = 74. After eating 35, they had 74 - 35 = 39. The answer is 39."
                        },
                        {
                            Q: "Jason had 20 lollipops. He gave Denny some lollipops. Now Jason has 12 lollipops. How many lollipops did Jason give to Denny?",
                            A: "Jason started with 20 lollipops. Then he had 12 after giving some to Denny. So he gave Denny 20 - 12 = 8.The answer is 8."
                        },
                        {
                            Q: "Shawn has five toys. For Christmas, he got two toys each from his mom and dad. How many toys does he have now?",
                            A: "Shawn started with 5 toys. If he got 2 toys each from his mom and dad, then that is 4 more toys. 5 + 4 = 9. The answer is 9."
                        },
                        {
                            Q: "There were nine computers in the server room. Five more computers were installed each day, from monday to thursday. How many computers are now in the server room?",
                            A: "There were originally 9 computers. For each of 4 days, 5 more computers were added. So 5 * 4 = 20 computers were added. 9 + 20 is 29. The answer is 29."
                        },
                        {
                            Q: "Michael had 58 golf balls. On tuesday, he lost 23 golf balls. On wednesday, he lost 2 more. How many golf balls did he have at the end of wednesday?",
                            A: "Michael started with 58 golf balls. After losing 23 on tuesday, he had 58 - 23 = 35. After losing 2 more, he had 35 - 2 = 33 golf balls. The answer is 33."
                        },
                        {
                            Q: "Olivia has $23. She bought five bagels for $3 each. How much money does she have left?",
                            A: "Olivia had 23 dollars. 5 bagels for 3 dollars each will be 5 x 3 = 15 dollars. So she has 23 - 15 dollars left. 23 - 15 is 8. The answer is 8."
                        },
                    ],
                cotTemplate: '',
                showCot: false,
                {#file: '',#}
                {#fileList: [],#}
                {#whisper_content: '',#}
                {#translate: 'false',#}
                {#no_speech_threshold: 0.6,#}
                tableData: [
                    {
                        value: '选项1',
                        test: '用python写一个快速排序'
                    },
                    {
                        value: '选项1',
                        test: 'how to correct the code a[1,2,3,4,5] print(a[5])'
                    },
                    {
                        value: '选项1',
                        test: "写一封中文请假信，请假10天，说明我要陪父母去海南玩"
                    },
                    {
                        value: '选项1',
                        test: "修改英文语法Please revise. He go to work early everyday."
                    },
                    {
                        value: '选项1',
                        test: "今有鸡兔同笼，有头36，脚96，问鸡兔各有多少只？"
                    }
                ],
                currentRow: null,
                tip: '',

            }
        },
        methods: {
             addMessage: function (e) {

                 if (e.ctrlKey && e.keyCode ===13 && this.content.length) {
                     console.log(this.content)
                    let inputMsg = "Q:" + this.content

                    this.chatList.splice(0, 0, inputMsg);
                    let model
                    for( let item of this.options ){
                        if(item.value === this.value){
                            console.log(item)
                            model = item.label
                        }
                    }
                    let q
                    if(this.cotChecked){
                        q = this.cotTemplate + this.content
                    }else {
                        q = this.content
                    }
                    axios({
                        url:this.ip_url,
                        params:{
                            question: q,
                            model: model,
                            maxToken: this.maxToken,
                            temperature: this.temperature,
                        }
                    }).then(resp=>{

                        let msg = resp.data.content;
                        if(msg.substring(0,2) === 'A:'){
                            this.chatList.splice(1, 0, msg);
                        }else {
                            this.chatList.splice(1, 0, "A:" + msg);
                        }

                    });

                    this.content = '';
                 }
                 {#console.log(document.getElementById('messageBox').scrollTop);#}
                 {#console.log(document.getElementById('messageBox').scrollHeight);#}
                 {#document.getElementById('message').scrollTop=1000;#}
            },

            chat(){
                this.value = "选项3"
                let msg = '提示：你可以问我：“如何学好线性代数”'
                this.tip = msg
            },
            code(){
                this.value = "选项2"
                let msg = '提示：你可以问我：“用python写一个快速排序”'
                this.tip = msg
            },
            homework(){
                this.value = "选项3"
                let msg = '提示：你可以问我：“鸡兔同笼问题”'
                this.tip = msg
            },
            paper(){
                this.value = "选项3"
                let msg = '提示：你可以问我：“帮我写一封致谢信”'
                this.tip = msg
            },
            correct(){
                this.value = "选项3"
                let msg = '提示：你可以问我：“修改语法：He like eating”'
                this.tip = msg
            },
            post(){
                this.value = "选项3"
                let msg = '提示：你可以问我：“我想写一封致谢信，感谢高中老师对我的帮助，请帮我写信”'
                this.tip = msg
            },
            cotTest(){
                this.value = "选项3"
                let msg = '提示：当你发现输出的数学问题只有结果或结果错误时，请试着在你的问题前加上思维链问答模板”'
                this.tip = msg
            },

            cotCheck(){
                console.log(this.cotChecked)
                if(this.cotChecked){

                    let msg
                    for(let qa of this.cot){
                        msg = msg + "Q:" + qa.Q + "A:" + qa.A
                    }
                    this.cotTemplate = msg
                }else {
                    this.cotTemplate = ''
                }
            },

            handleClose(done) {
                this.$confirm('确认关闭？')
                  .then(_ => {
                    done();
                  })
                  .catch(_ => {});
              },

            enter(){
                 if(this.content === '') {
                     alert("请输入问题")
                 }else {
                     let inputMsg = "Q:" + this.content

                    this.chatList.splice(0, 0, inputMsg);
                    let model
                    for( let item of this.options ){
                        if(item.value === this.value){
                            console.log(item)
                            model = item.label
                        }
                    }
                    let q
                    if(this.cotChecked){
                        q = this.cotTemplate + this.content
                    }else {
                        q = this.content
                    }
                    axios({
                        url:this.ip_url,
                        params:{
                            question: q,
                            model: model,
                            maxToken: this.maxToken,
                            temperature: this.temperature,
                        }
                    }).then(resp=>{

                        let msg = resp.data.content;
                        if(msg.substring(0,2) === 'A:'){
                            this.chatList.splice(1, 0, msg);
                        }else {
                            this.chatList.splice(1, 0, "A:" + msg);
                        }

                    });

                    this.content = '';
                }

            },

            clear(){
                this.chatList = []
            },

            {#handlePreview(file) {#}
            {##}
            {##}
            {#     let model#}
            {#     for( let item of this.whisper_options){#}
            {#         if(item.value === this.whisper_value){#}
            {#             model = item.label#}
            {#         }#}
            {#     }#}
            {#     axios({#}
            {#         url: this.ip_url + "/whisper/",#}
            {#         params: {#}
            {#             name: file.name,#}
            {#             model: model,#}
            {##}
            {#         }#}
            {#     }).then(resp=>{#}
            {#         this.whisper_content = resp.data.content#}
            {#     })},#}

            {#whisper(name){#}
            {#     this.whisper_content = ''#}
            {#     let model#}
            {#     for( let item of this.whisper_options){#}
            {#         if(item.value === this.whisper_value){#}
            {#             model = item.label#}
            {#         }#}
            {#     }#}
            {#     axios({#}
            {#         url: this.ip_url + "/whisper/",#}
            {#         params: {#}
            {#             name: name,#}
            {#             model: model,#}
            {##}
            {#         }#}
            {#     }).then(resp=>{#}
            {#         console.log(resp)#}
            {#         this.whisper_content = resp.data.content#}
            {#     })},#}

            handleCurrentChange(val) {
                this.currentRow = val;
                this.value = val.value

                console.log(val.test)
                let inputMsg = "Q:" + val.test

                this.chatList.splice(0, 0, inputMsg);
                let model
                for( let item of this.options ){
                    if(item.value === this.value){
                        console.log(item)
                        model = item.label
                    }
                }
                let q
                if(this.cotChecked){
                    q = this.cotTemplate + val.test
                }else {
                    q = val.test
                }
                axios({
                    url:this.ip_url,
                    params:{
                        question: q,
                        model: model,
                        maxToken: this.maxToken,
                        temperature: this.temperature,
                    }
                }).then(resp=>{

                    let msg = resp.data.content;
                    if(msg.substring(0,2) === 'A:'){
                        this.chatList.splice(1, 0, msg);
                    }else {
                        this.chatList.splice(1, 0, "A:" + msg);
                    }

                });

                this.content = '';

            }

        }
    });
</script>

</body>
<style lang="scss" scoped>

    body {
        background-image: url('https://pic.imgdb.cn/item/64197137a682492fcc48bcef.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    #message {
        position: fixed;
        left: 20%;
        height: 60%;
        width: 60%;
        margin: auto;
        }
        .messageBox {
            height: 450px;
            width: 100%;
            border-bottom: solid;
            overflow:auto;

        }







    #uesrtext {
        position: fixed;
        margin: auto;
        top:80%;
        left: 20%;
        width: 60%;
        height: 10%;
        border: solid 1px #DDD;}
        .textarea {
            padding: 10px;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            margin: auto;
        }


</style>
</html>